<div>
    {{ Widget_menu_top() }}
</div>
<div>
    {{ Widget_menu_top1({'template':'top_tmp.twig'}) }}
</div>

<div>
    {{ Widget_menu_top2() }}
</div>


<div>
    {{ Widget_menu_top_method_not_existed_exception() }}
</div>

<div>
    {{ Widget_menu_top_template_exception() }}
</div>